<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit  CF_18_07_13 ComplianceFactors
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ComplianceFactorsConnectionString" connectionString="Data Source=localhost;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=sa;Password=root" providerName="System.Data.SqlClient" />
    <!--<add name="ComplianceFactorsConnectionString" connectionString="Data Source=lavender.arvixe.com;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=Compliance;Password=A1b2c3d4" providerName="System.Data.SqlClient" />-->
   
  </connectionStrings>
  <system.web>
    <machineKey validationKey="3D5E559395E6F753615C6145C3D0CC696E67E33030FCE10A2F76ADC84F74A7A54EDCAA16240E980E64B2019D7CE1D6BF4C30EE7E9A2B4F0E0D227BB00B53BED9" decryptionKey="60381255DE3FF2E07E7EAF0B4AEB7FF87D181D1C2E7CCBA732D832D70C73C6F4" validation="SHA1" decryption="AES" />
    <httpRuntime maxRequestLength="10485760" requestValidationMode="2.0" />


    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />

    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <expressionBuilders>
        <add expressionPrefix="ResourceExpression" type="ComplicanceFactor.ResourceExpressionBuilder,ComplicanceFactor" />
        <add expressionPrefix="LocalizationResourceExpression" type="ComplicanceFactor.LocalizationResourceExpressionBuilder,ComplicanceFactor" />
        <add expressionPrefix="GlobalResourceExpression" type="ComplicanceFactor.GlobalResourceExpressionBuilder,ComplicanceFactor" />
        <add expressionPrefix="LabelResourceExpression" type="ComplicanceFactor.LabelResourceExpressionBuilder,ComplicanceFactor" />
        <add expressionPrefix="TextResourceExpression" type="ComplicanceFactor.TextResourceExpressionBuilder,ComplicanceFactor" />
      </expressionBuilders>
    </compilation>
    <authentication mode="Forms">
      <!--<forms timeout="60"/>-->
      <forms loginUrl="~/glp-01.aspx" defaultUrl="Default2.aspx" slidingExpiration="true" timeout="30" />
    </authentication>
    <authorization />
    <sessionState timeout="30" />
    
    <pages validateRequest="false">
      <namespaces>
        <add namespace="ComplicanceFactor.Common.Languages" />
      </namespaces>
    </pages>
    <!--<customErrors  defaultRedirect="session_out.aspx"  mode="RemoteOnly" />-->
    <customErrors mode="Off"/>

  </system.web>
  <appSettings>
    <add key="SecurityKey" value="Compliancefactor" />
    <add key="ConnectionString" value="SERVER=localhost;DATABASE=ComplianceFactors; uid=sa; pwd=root;" />
    <add key="passwordexpire" value="90" />
    <add key="mobilepwd" value="mac1420" />
    <add key="mobileusername" value="dealy@compliancefactors.com" />
    <!--<add key="ConnectionString" value="SERVER=lavender.arvixe.com;DATABASE=ComplianceFactors; uid=Compliance; pwd=A1b2c3d4;" />-->
    <add key="LogErrors" value="true" />
    <add key="ENABLESSL" value="TRUE" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="PORT" value="25" />
    <add key="FROMMAIL" value="compliancefactor.project@gmail.com" />
    <add key="FROMPWD" value="cfactors2" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>